version: '3.7'
services:
  jenkins:
    image: teecke/gp-jenkins:0.2.0
    ports:
      - 8080:8080
    privileged: true
    volumes:
      - jenkins_home:/var/jenkins_home
      - docker:/var/lib/docker

networks:
    default:
      external:
        name: platform_services

volumes:
  jenkins_home:
  docker:
